
.flag {
    display: inline-block;
    width: 25px;
    height: 15px;
    background: url(../images/flags.png) no-repeat;
}
.element-panel{
max-width:100px;
padding:30px;

}
.title{
max-width:400px;
padding:30px;

}
.right-panel{
max-width: 400px;
padding:30px;

}
.header{
display: inline;
padding:30px;
}
.img-ru {
    background-position: -25px 0;
}

.img-en{
    background-position: 0 0;
}

.img-ua {
    background-position: 0 -15px;
}

.lang-en a:hover {
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
}


.lang-ru a:hover {
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
}


.lang-ua a:hover {
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
}


